
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>patan collage</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-VoYyzLsH+ZURSz9Sm6zU0lFv3xaAe+N2H/V6GuR+2BsXQ4eH+0k0R4EDVVpQDg07" crossorigin="anonymous">

</head>

<body>

    <%- include("../includes/nav.ejs")%>
    <%- include("../sections/herosection.ejs")%>
    <%- include("../sections/campus.ejs")%>
    <%- include("../sections/courses.ejs")%>
    <%- include("../sections/faculties.ejs")%>
    <%- include("../includes/footer.ejs")%>
    


</body>

</html>

</html>